<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suarez Joris Portfolio</title>
    <link rel="stylesheet" href="/css/Resume.css">
</head>
<body>
    <div class="video-background">
        <img src="../img/yC7k5sY-abstract-purple-wallpaper.jpg" alt="Abstract Purple Wallpaper">
    </div>
    <div class="container">
        <div class="nav">
            <a href="/">Home</a>
            <span>.</span>
            <a href="templates/About.html">About</a>
            <img src="../img/modern-elegant-letter-sj-js-initial-logo_327835-1990-ezgif.com-avif-to-jpg-converter.jpg" alt="Logo" class="nav-logo">
            <a href="templates/Resume.html">Resume</a>
            <span>.</span>
            <a href="templates/Project.html">Project</a>
        </div>
        <div class="resume-content">
            <!-- Add your resume content here -->
            <h1>Suarez Joris</h1>
            <h2>Professional Summary</h2>
            <p>Experienced software developer </p>
            
            <!-- Embed PDF without toolbar -->
            <div class="pdf-viewer">
                <img src="../img/suarez_joris_cv_ynov_page-0001.jpg" alt="Suarez Joris CV" width="1080px">
            </div>
        </div>
    </div>
</body>
</html>
